<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qader.app.flashcards">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.subject_list.SubjectListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.card_list.CardListActivity"
            android:label="@string/title_activity_card_list"
            android:parentActivityName=".ui.subject_list.SubjectListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.subject_list.SubjectListActivity"/>
        </activity>
        <activity
            android:name=".ui.practice_list.PracticeListActivity"
            android:label="@string/title_activity_practice_list"
            android:parentActivityName=".ui.card_list.CardListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.card_list.CardListActivity"/>
        </activity>

    </application>

</manifest>
